-DesignTarget: cache

-CacheAccessMode: Normal
-Associativity (for cache only): 8

-ProcessNode: 28

-Capacity (KB): 128
-WordWidth (bit): 32

-DeviceRoadmap: HP

-LocalWireType: LocalAggressive
-LocalWireRepeaterType: RepeatedNone
-LocalWireUseLowSwing: No

-GlobalWireType: GlobalAggressive
-GlobalWireRepeaterType: RepeatedNone
-GlobalWireUseLowSwing: No

-Routing: Non-H-tree

-InternalSensing: true

-MemoryCellInputFile: gain_cell.cell

-OptimizationTarget: WriteEDP
-EnablePruning: Yes

-Temperature (K): 300
-RetentionTime (us):1600

# Optional advanced options if supported
//-RefreshScheme: Periodic
//-CustomSenseVoltage (V): 0.15
//-CellAspectRatioOverride: 0.25
